.singleProperty{
	width: 100%;
	min-height:50vh ;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	/* background-color: aquamarine; */
}
.singleProperty-media{
	width: 60%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
	/* background-color: bisque; */
	gap: 10px;
	row-gap: 10px;
	padding: 20px 0px;
}
.singleProperty-media img{
	height: 60rem;
	width: 45rem;
	object-fit: cover;
}
.singleProperty-info{
	width: 40%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
	/* background-color: aqua; */
	padding: 20px;
	font-family: var(--main-font);
	gap: 10px;
}
.singleProperty-info h1{
	font-size: 4rem;
}
.singleProperty-info h3{
	font-size: 3rem;
}
.singleProperty-info h4{
	font-size: 2rem;
}
.singleProperty-info p{
	font-size: 2rem;
}
