@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800;900&display=swap');
*,::before,::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  overflow-x: hidden;
  font-size: 62.5%;
}
body{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  overflow-x: hidden;
}
.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
:root{
  --main-font:'Gabarito', sans-serif;
  --main-color:#F9E8A4;
  --main-color-hover:#ebd26f;
  --main-shadow:rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.display_none{
  display: none;
}
.loader{
  /* height: 50vh;
  width: 50%; */
  position: absolute;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}

@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}

@media (max-width: 475px) {
  .container {
    width: 100%;
  }
}
